@model List<WebSalesMvc.Models.SalesRecord>

@{
    ViewData["Title"] = "Registro de vendas";
}

<h2>@ViewData["Title"]</h2>
<hr />

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Seller</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.Amount</td>
                    <td>@item.Status</td>
                    <td>@item.Seller</td>

                </tr>
            }
        </tbody>
    </table>
}

<div>
    <a asp-action="Create">Nova venda</a>
</div>
